# Ignorar arquivos de compilação Maven/Gradle
target/
build/
out/

# Ignorar diretórios de cache e dependências locais
.gradle/
.m2/
bower_components/
node_modules/

# Ignorar arquivos específicos do Eclipse e Spring Tools (STS)
.metadata
bin/
tmp/
.settings/
.loadpath
.recommenders
.project
.classpath
.externalToolBuilders/
*.launch
.springBeans
.sts4-cache/

# Ignorar arquivos de anotação e geração automática
.factorypath
.apt_generated/
.apt_generated_tests/

# Ignorar arquivos temporários, de log e de sistema
*.log
logs/
*.tmp
*.bak
*.swp
*~.nib
.DS_Store # Ignorar no macOS
Desktop.ini # Ignorar no Windows

# Ignorar arquivos de configuração local e variáveis de ambiente (podem conter segredos)
.env
application.properties.local
*.properties.local
application.yml.local
*.yml.local
